<!-- Se NÃO for rota auxiliar, exibe a estrutura completa da Landing Page -->
<ng-container *ngIf="!isRotaAuxiliar()">
  <app-header></app-header>

  <main>
    <app-home></app-home>
    <app-servicos></app-servicos>
    <app-sobre></app-sobre>
    <app-galeria></app-galeria>
    <app-depoimentos></app-depoimentos>
    <app-contato></app-contato>
  </main>

  <app-footer></app-footer>
</ng-container>

<!-- Se FOR rota auxiliar (Login, Agendamento, etc.), renderiza APENAS o router-outlet -->
<ng-container *ngIf="isRotaAuxiliar()">
  <router-outlet></router-outlet>
</ng-container>